services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: internship_tracker_app
    volumes:
      - ./:/var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:1.27-alpine
    container_name: internship_tracker_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.4
    container_name: internship_tracker_mysql
    environment:
      MYSQL_DATABASE: internship_tracker
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
